# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
LineChat/*
!LineChat/app/
!LineChat/classic/
!LineChat/socket.io/
!LineChat/app.json
chat.db
